@import 'scss/_variables.scss';

.services {
  padding: 50px 0;
  min-height: 300px;
  background-color: $gray-900;
  background: url('../../../static/img/services/example-6.jpg') no-repeat center center;
  background-size: cover;
  position: relative;

  .features-icons-item {
    max-width: 20rem;
  }

  .features-icons-icon {
    height: 7rem;

    i {
      font-size: 4.5rem;
    }
  }

  .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: .8;
  }
}