@import 'scss/_variables.scss';

.container {
  .navbar-nav {
    .nav-link {
      color: $gray-900;
      padding-right: 1.5rem;
      padding-left: 0.5rem;

      &:hover {
        color: $red;
      }
    }
  }

  .logo {
    height: 80px;
  }

  .fa.fa-navicon {
    color: $gray-900;
  }
}